@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* HTML elements */
  body,
  html {
    padding: 0;
    margin: 0;
    height: 1px;
    min-height: 100%;
  }
  button {
    @apply pointer-events-auto rounded-md bg-indigo-600 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500;
  }
  h1 {
    @apply mt-4 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem];
  }
  h2 {
    @apply text-base font-extrabold tracking-[-0.04em] text-black;
  }
  a {
    @apply font-semibold text-indigo-600 hover:text-indigo-500;
  }
  p {
    @apply mt-4 text-base leading-7 text-slate-600;
  }
}

@layer components {
  /* Utility classes (.card, .btn, etc.) */
  .imageRing {
    clip-path: url('#ringPath');
    filter: saturate(5);
    // animation: loading 1s ease-in-out infinite;
    // transform-origin: center center;
  }
  .imageRing2 {
    clip-path: url('#inverseRingPath');
  }
  #ringPath {
    animation: loading 2s ease-in-out infinite;
    transform-origin: 51% center;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  /* Other css features that don't exist in Tailwind */
}
